@model PontosTuristicos.Models.PontoTuristico

@{
    ViewData["Title"] = "Excluir Ponto Turístico";
}

<div class="modal-header">
    <h1>@ViewData["Title"]</h1>    
</div>

<div class="modal-body">
    <div class="col-md-12">
        <p style="font-size: 22px;">Tem certeza que deseja excluir esse cadastro?</p>
        
        <div class="row">
            <div class="col-md-6">
                <img style="width: 50%;" src="~/img/logo_ponto_turistico.png" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Nome</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Nome)" disabled />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Estado</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Estado)" disabled />
            </div>

            <div class="col-md-10">
                <label class="control-label">Cidade</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Cidade)" disabled />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Referência</label>
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.Referencia)" disabled />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Descrição</label>
                <textarea class="form-control" disabled>@Html.DisplayFor(model => model.Descricao)</textarea>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" style="border: none;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a asp-action="Index" style="text-decoration: none; color: white;" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Voltar</a>
            </div>

            <div class="col-md-6" style="text-align: right;">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />                    
                    <input type="submit" value="Confirmar" class="btn btn-danger" />
                </form>
            </div>         
        </div>
    </div>
</div>
